@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: #fff;
    color: #212121;
}
/*---------------------------------------------------MENU---------------------------------------------------*/
.menu-container {
    overflow: hidden;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    color: #000;
    background-color: #fff;
    padding: 20px 20px 20px 40px;
}

.menu {
    justify-content: space-around;
    width: 100%;
}


.links {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

.logo {
    float: left;
}


ul.logo2 {
    list-style-type: none;
}

.menu-list {
    float: right;
    padding: 0px 20px;
    justify-content: center;
}

.logo-icon {
    width: 40px;
}

.logo-icon:hover {
    opacity: 50%;
}

.shop-icon,
.login-icon {
    width: 32px;
}

.shop-icon:hover,
.login-icon:hover {
    opacity: 50%;
}

a {
    text-decoration: none;
    color: #212121;
    font-weight: 300;
}

a.menu-link {
    padding: 0px 10px;
    vertical-align: middle;
}

a.menu-link:hover {
    color: #FF8576;
}

.menu-link-active {
    padding: 0px 10px;
    vertical-align: middle;
    color: #FF8576;
    font-weight: 500;
}
/*-----------------------------------------------------HERO-----------------------------------------------------*/

.hero-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
}

.box-1 {
    flex: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5F5F5;
    padding: 160px 80px;
}

.box-2 {
    flex: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.hero-img { 
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 54px;
    font-weight: 300;
    color: #212121; 
    text-align: center;  
}

#title {
    font-size: 68px;
}


.button-primary {
    display:inline-block;
    text-decoration: none;
    color: #212121;
    background-color:#FF8576;
    font-weight: 500;
    font-size: 21px;
    padding: 12px 24px;
    text-align: center;
    margin-top:40px;
}

.button-primary:hover {
    color:#212121;
    background-color: #ffd5d0;
}

/*---------------------------------------------------SHOP----------------------------------------------------*/
.products-page {
    padding: 80px 165px;
    text-align: center;
    background-color: #F5F5F5;
}

.products-page h1 {
    margin-bottom: 40px;
    position: relative;
    margin-bottom: 1em;
    padding-bottom: 20px;
    text-align: center;
    font-size: 54px;
    font-weight:300;
}

.products-page h1:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 5px;/*線の上下位置*/
    width: 100px;/*線の長さ*/
    height: 1px;/*線の太さ*/
    transform: translateX(-50%);/*位置調整*/
    background-color: black;/*線の色*/
    border-radius: 2px;/*線の丸み*/
  }

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    column-gap: 25px;
    row-gap: 50px;
    text-align: left;
    margin-top: 40px;
}

.products a{
    text-decoration: none;
    color: black;
}

.products img {
    width: 300px;
    margin-bottom: 8px;
}

.products img:hover{
    transform: scale(1.05);
    transition: transform 0.6s ease;
    opacity: 1;
}

.products em{
    font-style:normal;
}

.products p{
    font-style:normal;
    padding-bottom: 3px;
}


.product-text {   
    display: flex;
    opacity: 0;
    position: absolute;
    transition: 1s;
    letter-spacing: 5px;
}


.product1:hover  .product-text{
    opacity: 1;
}

.product2:hover  .product-text{
    opacity: 1;
}

.product3:hover  .product-text{
    opacity: 1;
}

.product4:hover  .product-text{
    opacity: 1;
}

.product5:hover  .product-text{
    opacity: 1;
}

.product6:hover  .product-text{
    opacity: 1;
}

.product7:hover  .product-text{
    opacity: 1;
}

.product8:hover  .product-text{
    opacity: 1;
}

.product9:hover  .product-text{
    opacity: 1;
}


/*----------------------------------------------------ABOUT------------------------------------------------------*/

.about-container {
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.about-box-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    background-color: #F5F5F5;
    padding: 80px 40px;
}

.about-box-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.about-img { 
    width: 100%;
    height: 100%;
}

h2 {
    font-size: 54px;
    font-weight: 300;
    color: #212121; 
    text-align: center;  
}

.about-text {
    font-size: 16px;
    line-height: 200%;
    margin-top: 40px;
    text-align: justify;
}

/*----------------------------------------------------TEAM------------------------------------------------------*/

.team-container {
    display: flex;
    justify-content: center;
    background-color: #F5F5F5;
}

.team-box-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding: 80px 40px;
}

.team-box-2 {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    padding: 24px;
}

.team-box-img { 
    width: 32%;
    margin-bottom: 16px;
}

.team-box-text {
    padding: 15px;
    text-align: center;
    background-color: #fff;
}

.team-text-name { 
    font-size: 16px;
    font-weight: 500;
    color: #ff968a;
}

.team-text-description { 
    font-size: 16px;
    font-weight: 300;
    color: #212121;
}

.team-img { 
    width: 100%;
    height: auto;
}

.team-text {
    font-size: 16px;
    line-height: 200%;
    margin-top: 40px;
    text-align: justify;
}

/*----------------------------------------------------TESTIMONIALS------------------------------------------*/

.testi-page {
    display: grid;
    padding: 80px 165px;
    column-gap: 24px;
    row-gap: 32px;
    grid-template-columns: 330px 1fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    background-color: #F5F5F5;
}

.join-section {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.join-section h1 {
    font-size: 50px;
    font-weight: 300;
    text-align: start;
}

#C1 {
    text-align: start;
}


.join-section a{
    background-color: #fff;
    color: black;
    text-decoration: none;
    width: 100%;
    font-size: 16px;
}


.join-section h2{
    font-size: 16px;
    padding: 13px;
    border: black solid 0.5px;
    margin-top: 50px;
    width: 250px;
}

.join-section h2:hover{
    color: #F76A61;
    font-weight: bold;
    border: #F76A61 solid 0.5px;
}

.tes-p1 {
    margin: 10px 0px;
}

.tes-p1 strong{
    font-weight: normal;
}

.img-field {
    display: flex;
    align-items: center;
}


.img1{
    border-radius: 100%;
    width: 60px;
    height: fit-content;
    margin-right: 15px;
    margin-top: 5px ;
}


.item1 {
    border: solid black 0.5px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding:18px;
    height: fit-content;
}

.item2 {
    border: solid black 0.5px;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    padding:18px;
    height: fit-content;
}

.item3 {
    border: solid black 0.5px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding:18px;
    height: fit-content;
}

.item4 {
    border: solid black 0.5px;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    padding:18px;
    height: fit-content;
}


/*----------------------------------------------------FAQ--------------------------------------------------*/
.faq-container {
    display: inline-block;
    width: 100%;
    height: auto;
    background-color: #F5F5F5;
    padding: 80px 40px;
}

.accordion{
    width: 80%;
    overflow: hidden;
    margin: auto;
    margin-top: 40px;
}

.accordion__label, .accordion__content{
    padding: 14px 20px;
}

.accordion__label{
    display: block;
    color: #212121;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.1s;
    background-color: #e8e8e8;
    margin-bottom: 12px;
}

.accordion__label:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.accordion__content{
    background: #f5f5f5;
    line-height: 180%;
    font-size: 16px;
    display: none;
}

.accordion__input{
    display: none;
}

.accordion__input:checked ~ .accordion__content{
    display: block;
}

/*----------------------------------------------------CONTACT--------------------------------------------------*/
section.contact {
    padding: 80px;
    background-color: #f5f5f5ff;
}

.contact-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 80px;
}

form {
    display: flex;
    flex-direction: column;
}

form input.form,textarea {
    width: 100%;
    height: 40px;
    margin-bottom: 16px;
    padding: 0px 12px;
    background-color: #f5f5f5ff;
    color: #6D6D6D;
    border: 1px solid #6D6D6D;
    font-weight: 500;
    border-radius: 0px;
}

textarea {
    height: 132px;
    resize: none;
}

form textarea,input.form-text::placeholder{
    font-weight: 500;
    font-size: 16px;
}

form input.submit {
    color: #212121;
    background-color:#FF8576;
    font-size: 18px;
    padding: 8px;
    text-align: center;
    margin: 12px auto;
    width: 150px; 
    cursor: pointer; 
    font-weight: 500;
    border: none;
}

.submit:hover {
    color:#212121;
    background-color: #ffd5d0;
}

.contact-box-1,
.contact-box-2{
    width: 50%;
    height: auto;
    margin-right: 16px;
}

/*----------------------------------------------------FOOTER--------------------------------------------------*/


.footer {
    background-color: #f9f9f9;
}

.footer-field {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 165px;
    padding-top: 60px;
    padding-bottom: 45px;
    list-style-type: none;
    justify-content: space-between;
}

.footer-field img {
    height: 40px;
}


.footer li {
    list-style-type: none;
}

.company-logo {
    display: flex;
}

.logo-h3 {
    font-weight: 700;
}

.company-logo .logo-h3 {
    text-align: center;
    padding: 10px 0px 0px 20px;
    font-size: 20px;
}

.footer-links a{
    color:black;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
}



.footer-links a:hover {
    color: #F76A61;
    font-weight: 400;
}


.footer-links li{
    margin-bottom: 20px;
    margin-right: 55px;
}


.socialmedia img{
    margin: 0px 60px 5px 0px;
}

.socialmedia img:hover {
	background-color: #F76A61;
    border-radius: 50%;
}




.copyright {
    text-align: center;
    padding-bottom: 30px;
    font-size: 14px;
    font-weight: 300;
}

#copyright-text {
    font-size: 14px;
    font-weight: 300;
}

.top-nav {
    display: none;
    background-color: #fff;
    padding: 8px 24px;
}

.hamburguer-icon:hover {
    opacity: 0.7;
}

.navbar {
    display: none;
}

/*Breakpoint to add less space between elements on tablets*/
@media only screen and (min-width: 769px) and (max-width: 1200px) {

    .menu-container {
        display: none;
    }

    .box-1, .box-2 {
        flex: 100%;
        }


    .navbar {
        width: 100%;
        display: block;
        }
        
        .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 62px;
        }
        
        .navbar .menu-items {
        display: flex;
        background-color: #fff;
        }
        
        .navbar .nav-container li {
        list-style: none;
        }
        
        .navbar .nav-container a {
        text-decoration: none;
        color: #212121;
        font-weight: 300;
        font-size: 1.2rem;
        padding: 0.7rem;
        }
        
        .navbar .nav-container a:hover{
            color: #FF8576;
        }
        
        .nav-container {
        display: block;
        position: relative;
        height: 60px;
        }
        
        .nav-container .checkbox {
        position: absolute;
        display: block;
        height: 32px;
        width: 32px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
        }
        
        .nav-container .hamburger-lines {
        display: block;
        height: 26px;
        width: 32px;
        position: absolute;
        top: 17px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        }
        
        .nav-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #212121;
        }
        
        .nav-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
        }
        
        .nav-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
        }
        
        .nav-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
        }
        
        .navbar .menu-items {
        padding-top: 120px;
        box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
        height: 100vh;
        width: 100%;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 50px;
        transition: transform 0.5s ease-in-out;
        text-align: center;
        }
        
        .navbar .menu-items li {
        margin-bottom: 1.2rem;
        font-size: 1.5rem;
        font-weight: 300;
        }
        
        .logo {
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 1.2rem;
        }
        
        .nav-container input[type="checkbox"]:checked ~ .menu-items {
        transform: translateX(0);
        }
        
        .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
        transform: rotate(45deg);
        }
        
        .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
        transform: scaleY(0);
        }
        
        .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
        transform: rotate(-45deg);
        }
        
        .nav-container input[type="checkbox"]:checked ~ .logo{
        display: none;
        }
    




}





/*Breakpoint to add less space between elements on mobile*/
@media only screen and (max-width: 768px) {


    .menu-container {
        display: none;
    }

    .box-1, .box-2 {
        flex: 100%;
        }


    .navbar {
        width: 100%;
        display: block;
        }
        
        .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 62px;
        }
        
        .navbar .menu-items {
        display: flex;
        background-color: #fff;
        }
        
        .navbar .nav-container li {
        list-style: none;
        }
        
        .navbar .nav-container a {
        text-decoration: none;
        color: #0e2431;
        font-weight: 300;
        font-size: 1.2rem;
        padding: 0.7rem;
        }
        
        .navbar .nav-container a:hover{
            color: #FF8576;
        }
        
        .nav-container {
        display: block;
        position: relative;
        height: 60px;
        }
        
        .nav-container .checkbox {
        position: absolute;
        display: block;
        height: 32px;
        width: 32px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
        }
        
        .nav-container .hamburger-lines {
        display: block;
        height: 26px;
        width: 32px;
        position: absolute;
        top: 17px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        }
        
        .nav-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #0e2431;
        }
        
        .nav-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
        }
        
        .nav-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
        }
        
        .nav-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
        }
        
        .navbar .menu-items {
        padding-top: 120px;
        box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
        height: 100vh;
        width: 100%;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 50px;
        transition: transform 0.5s ease-in-out;
        text-align: center;
        }
        
        .navbar .menu-items li {
        margin-bottom: 1.2rem;
        font-size: 1.5rem;
        font-weight: 300;
        }
        
        .logo {
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 1.2rem;
        }
        
        .nav-container input[type="checkbox"]:checked ~ .menu-items {
        transform: translateX(0);
        }
        
        .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
        transform: rotate(45deg);
        }
        
        .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
        transform: scaleY(0);
        }
        
        .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
        transform: rotate(-45deg);
        }
        
        .nav-container input[type="checkbox"]:checked ~ .logo{
        display: none;
        }
          
        

    }